@import "tailwindcss";

@theme inline {
  --color-custume-light: #eaeaea;
  --color-light-blue: #d3e4ff;
  --color-costume-blue: #141e61;
  --color-dark-blue: #0f044c;

  --font-montserrat: var(--font-Montserrat);
  --font-taviraj: var(--font-Taviraj);
  --font-hind: var(--font-Hind);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeaea;
  }
}

:root {
  font-family: var(--font-Taviraj), serif;

  --font-primary: var(--font-Taviraj);
  --font-secondary: var(--font-Montserrat);
  --font-tertiary: var(--font-Hind);
}

body {
  background: var(--background);
  color: #111;
}

.montserrat {
  font-family: var(--font-Montserrat), sans-serif;
}

.taviraj {
  font-family: var(--font-Taviraj), serif;
}

.hind {
  font-family: var(--font-Hind), sans-serif;
}
